# EDA for the Crash Data

In [82]:
import pandas as pd
df = pd.read_csv('../data/Traffic_Crashes_Subset.csv')

In [83]:
df.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,6d7c895988f975b749683c20b6ac76dafd3ccc9ef8eea1...,JD223347,NaN,05/03/2020 03:00:00 PM,35,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,15,1,5,41.853983,-87.685561,POINT (-87.685561084102 41.853983119541)
1,821d7beea9373e2e80550ef3d1713ffce82b5fd86d701a...,JB327303,NaN,06/29/2018 07:23:00 AM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,4.0,0.0,7,6,6,41.982035,-87.653046,POINT (-87.653046395054 41.982035401108)
2,323ab4eecab7b9cc814f103af57984197730ece15d0373...,JA428644,NaN,09/12/2017 04:40:00 PM,15,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,2.0,0.0,16,3,9,41.706847,-87.612389,POINT (-87.612389315742 41.706847438183)
3,02b125bee9b78c274f093ebe5c5a9f2e6bc46841521a36...,JC177825,NaN,03/08/2019 09:45:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,9,6,3,41.886677,-87.693541,POINT (-87.693541479988 41.886676655033)
4,adcfa111bbc16787274fff95753ead117853f08d70ee3f...,JC192368,NaN,03/20/2019 05:28:00 AM,30,NO CONTROLS,NO CONTROLS,RAIN,"DARKNESS, LIGHTED ROAD",TURNING,...,0.0,0.0,2.0,0.0,5,4,3,41.785733,-87.738438,POINT (-87.738438322686 41.785732807652)

In [84]:
df.shape

(70000, 49)

In [85]:
df.columns

Index(['CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE',
       'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
       'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
       'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
       'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE', 'INTERSECTION_RELATED_I',
       'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [86]:
names = ['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS']

In [87]:
col = 'INJURIES_INCAPACITATING'

print('Unique')
print(df[col].unique())
print('\n')
print('Value Counts')
print(df[col].value_counts(normalize=True, dropna=False))

Unique
[ 0.  1. nan  2.  3.  5.  4.]


Value Counts
0.0    0.981800
1.0    0.014100
NaN    0.001786
2.0    0.001786
3.0    0.000386
5.0    0.000071
4.0    0.000071
Name: INJURIES_INCAPACITATING, dtype: float64

In [88]:
for name in names:
    print(f'Name: {name}')
    print('Unique')
    print(df[name].unique())
    print('Value Counts')
    print(df[name].value_counts(normalize=True, dropna=False))
    print('----------------------------------------------------')

Name: POSTED_SPEED_LIMIT
Unique
[35 25 15 30 40 20 10 45  0  5 55  3 65 50  1 36  9 24 39 99 31 32  2 70
 60 18 34 33  6 11]
Value Counts
30    0.736514
35    0.069414
25    0.060900
20    0.038414
15    0.035114
10    0.020871
0     0.014329
40    0.008943
5     0.007243
45    0.005914
55    0.001071
3     0.000271
50    0.000214
39    0.000171
9     0.000157
99    0.000129
1     0.000086
65    0.000029
60    0.000029
32    0.000029
33    0.000029
11    0.000014
18    0.000014
31    0.000014
70    0.000014
6     0.000014
2     0.000014
34    0.000014
36    0.000014
24    0.000014
Name: POSTED_SPEED_LIMIT, dtype: float64
----------------------------------------------------
Name: WEATHER_CONDITION
Unique
['CLEAR' 'RAIN' 'SNOW' 'UNKNOWN' 'CLOUDY/OVERCAST' 'OTHER'
 'FOG/SMOKE/HAZE' 'SLEET/HAIL' 'FREEZING RAIN/DRIZZLE'
 'SEVERE CROSS WIND GATE' 'BLOWING SNOW']
Value Counts
CLEAR                     0.793829
RAIN                      0.090857
UNKNOWN                   0.043029
SNOW                      0.034157
CLOUDY/OVERCAST           0.030271
OTHER                     0.003286
FOG/SMOKE/HAZE            0.001757
SLEET/HAIL                0.001543
FREEZING RAIN/DRIZZLE     0.000957
BLOWING SNOW              0.000186
SEVERE CROSS WIND GATE    0.000129
Name: WEATHER_CONDITION, dtype: float64
----------------------------------------------------
Name: LIGHTING_CONDITION
Unique
['DAYLIGHT' 'DARKNESS, LIGHTED ROAD' 'DARKNESS' 'UNKNOWN' 'DUSK' 'DAWN']
Value Counts
DAYLIGHT                  0.653314
DARKNESS, LIGHTED ROAD    0.211400
DARKNESS                  0.051457
UNKNOWN                   0.036243
DUSK                      0.030471
DAWN                      0.017114
Name: LIGHTING_CONDITION, dtype: float64
----------------------------------------------------
Name: ALIGNMENT
Unique
['STRAIGHT AND LEVEL' 'CURVE ON GRADE' 'STRAIGHT ON GRADE' 'CURVE, LEVEL'
 'STRAIGHT ON HILLCREST' 'CURVE ON HILLCREST']
Value Counts
STRAIGHT AND LEVEL       0.974214
STRAIGHT ON GRADE        0.013429
CURVE, LEVEL             0.007357
STRAIGHT ON HILLCREST    0.003114
CURVE ON GRADE           0.001400
CURVE ON HILLCREST       0.000486
Name: ALIGNMENT, dtype: float64
----------------------------------------------------
Name: ROADWAY_SURFACE_COND
Unique
['DRY' 'SNOW OR SLUSH' 'WET' 'ICE' 'UNKNOWN' 'OTHER' 'SAND, MUD, DIRT']
Value Counts
DRY                0.753771
WET                0.136629
UNKNOWN            0.066943
SNOW OR SLUSH      0.032557
ICE                0.007386
OTHER              0.002343
SAND, MUD, DIRT    0.000371
Name: ROADWAY_SURFACE_COND, dtype: float64
----------------------------------------------------
Name: NUM_UNITS
Unique
[ 2  3  5  4  1 10  6  7 12  9 11 15  8]
Value Counts
2     0.881471
1     0.053029
3     0.052286
4     0.009457
5     0.002557
6     0.000771
7     0.000243
8     0.000100
10    0.000029
15    0.000014
12    0.000014
11    0.000014
9     0.000014
Name: NUM_UNITS, dtype: float64
----------------------------------------------------

In [89]:
df.columns

Index(['CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE',
       'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
       'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
       'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
       'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE', 'INTERSECTION_RELATED_I',
       'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In this cell, I entered each column name manually instead of doing a lengthy `for` loop as above. I'm not saving each one.

In [90]:
col = 'TRAFFIC_CONTROL_DEVICE'

print('Unique')
print(df[col].unique())
print('\n')
print('Value Counts')
print(df[col].value_counts(normalize=True, dropna=False))

Unique
['TRAFFIC SIGNAL' 'NO CONTROLS' 'LANE USE MARKING' 'STOP SIGN/FLASHER'
 'UNKNOWN' 'OTHER RAILROAD CROSSING' 'SCHOOL ZONE' 'YIELD' 'OTHER'
 'OTHER REG. SIGN' 'RAILROAD CROSSING GATE' 'POLICE/FLAGMAN'
 'OTHER WARNING SIGN' 'PEDESTRIAN CROSSING SIGN' 'NO PASSING'
 'DELINEATORS' 'BICYCLE CROSSING SIGN' 'FLASHING CONTROL SIGNAL'
 'RR CROSSING SIGN']


Value Counts
NO CONTROLS                 0.574786
TRAFFIC SIGNAL              0.279429
STOP SIGN/FLASHER           0.098800
UNKNOWN                     0.032600
OTHER                       0.005814
LANE USE MARKING            0.002643
YIELD                       0.001657
OTHER REG. SIGN             0.001057
OTHER WARNING SIGN          0.000757
RAILROAD CROSSING GATE      0.000671
PEDESTRIAN CROSSING SIGN    0.000429
POLICE/FLAGMAN              0.000343
DELINEATORS                 0.000286
SCHOOL ZONE                 0.000257
OTHER RAILROAD CROSSING     0.000200
FLASHING CONTROL SIGNAL     0.000186
BICYCLE CROSSING SIGN       0.000043
RR CROSSING SIGN            0.000029
NO PASSING                  0.000014
Name: TRAFFIC_CONTROL_DEVICE, dtype: float64

#### Choosing columns to keep

In [91]:
df_temp = df[['CRASH_RECORD_ID', 'POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
             'NUM_UNITS', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH']]
df_temp.head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,ALIGNMENT,ROADWAY_SURFACE_COND,NUM_UNITS,INJURIES_FATAL,INJURIES_INCAPACITATING,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH
0,6d7c895988f975b749683c20b6ac76dafd3ccc9ef8eea1...,35,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,2,0.0,0.0,15,1,5
1,821d7beea9373e2e80550ef3d1713ffce82b5fd86d701a...,25,CLEAR,DAYLIGHT,CURVE ON GRADE,DRY,2,0.0,0.0,7,6,6
2,323ab4eecab7b9cc814f103af57984197730ece15d0373...,15,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,2,0.0,0.0,16,3,9
3,02b125bee9b78c274f093ebe5c5a9f2e6bc46841521a36...,30,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,SNOW OR SLUSH,2,0.0,0.0,9,6,3
4,adcfa111bbc16787274fff95753ead117853f08d70ee3f...,30,RAIN,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,WET,2,0.0,0.0,5,4,3

In [92]:
df = df_temp

In [93]:
df[df['INJURIES_FATAL'] > 0].head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,ALIGNMENT,ROADWAY_SURFACE_COND,NUM_UNITS,INJURIES_FATAL,INJURIES_INCAPACITATING,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH
2969,2316f18e70c1a2c0295867b0265602cc0a606e6dfdf81b...,30,CLEAR,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,DRY,2,1.0,1.0,3,5,5
5073,8b2eaa0750cbe3bd01c119f6ceecb9f0678a457b35e104...,25,CLOUDY/OVERCAST,"DARKNESS, LIGHTED ROAD","CURVE, LEVEL",DRY,1,1.0,0.0,2,2,4
5595,152386d93c4e043da4066e64866a5cf5a2140be288a3a5...,40,CLEAR,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,DRY,2,1.0,2.0,1,6,3
5806,b8d58b2a5e2db0a5282a696347a95a049f1be190e0d6a1...,30,RAIN,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,WET,2,1.0,0.0,22,1,7
6602,0af8990f5a70319a5914d37ed6506e7a31a88f1f562271...,30,CLEAR,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,DRY,2,1.0,0.0,16,5,12

In [94]:
df['SERIOUS_ACCIDENT'] = 0

In [95]:
col = 'INJURIES_FATAL'
print('Value Counts')
print(df[col].value_counts(normalize=True, dropna=False))

Value Counts
0.0    0.997129
NaN    0.001786
1.0    0.001000
2.0    0.000071
3.0    0.000014
Name: INJURIES_FATAL, dtype: float64

In [96]:
col = 'INJURIES_INCAPACITATING'
print('Value Counts')
print(df[col].value_counts(normalize=True, dropna=False))

Value Counts
0.0    0.981800
1.0    0.014100
NaN    0.001786
2.0    0.001786
3.0    0.000386
5.0    0.000071
4.0    0.000071
Name: INJURIES_INCAPACITATING, dtype: float64

In [97]:
df['INJURIES_FATAL'] = df['INJURIES_FATAL'].fillna(0)

In [98]:
df['INJURIES_INCAPACITATING'] = df['INJURIES_INCAPACITATING'].fillna(0)

#### Assigning any accident with a fatality or serious injury to "serious accident"

In [99]:
df.loc[df['INJURIES_FATAL'] > 0, 'SERIOUS_ACCIDENT'] = 1

In [100]:
df.loc[df['INJURIES_INCAPACITATING'] > 0, 'SERIOUS_ACCIDENT'] = 1

In [101]:
df['SERIOUS_ACCIDENT'].value_counts(normalize=True, dropna=False)

0    0.982729
1    0.017271
Name: SERIOUS_ACCIDENT, dtype: float64

Only 1.7% are serious accidents

In [102]:
df['CRASH_RECORD_ID'].duplicated().any()

False

### Load People Dataset and Merge

In [103]:
people = pd.read_csv('../data/Traffic_Crashes_-_People.csv', low_memory=False)

In [104]:
people.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'CRASH_RECORD_ID', 'RD_NO', 'VEHICLE_ID',
       'CRASH_DATE', 'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE',
       'CELL_PHONE_USE'],
      dtype='object')

In [105]:
col = 'SEX'

print('Unique')
print(people[col].unique())
print('\n')
print('Value Counts')
print(people[col].value_counts(normalize=True, dropna=False))

Unique
['M' 'X' 'F' nan]


Value Counts
M      0.522386
F      0.379843
X      0.082946
NaN    0.014825
Name: SEX, dtype: float64

In [106]:
people[people['SEX'] == 'X'].count()

PERSON_ID                84783
PERSON_TYPE              84783
CRASH_RECORD_ID          84783
RD_NO                    84154
VEHICLE_ID               84424
CRASH_DATE               84783
SEAT_NO                   6203
CITY                      3642
STATE                     5319
ZIPCODE                   1357
SEX                      84783
AGE                       1033
DRIVERS_LICENSE_STATE     5815
DRIVERS_LICENSE_CLASS      964
SAFETY_EQUIPMENT         84728
AIRBAG_DEPLOYED          84652
EJECTION                 84711
INJURY_CLASSIFICATION    84743
HOSPITAL                  3806
EMS_AGENCY                2270
EMS_RUN_NO                 222
DRIVER_ACTION            78540
DRIVER_VISION            78539
PHYSICAL_CONDITION       78541
PEDPEDAL_ACTION            156
PEDPEDAL_VISIBILITY        149
PEDPEDAL_LOCATION          158
BAC_RESULT               78557
BAC_RESULT VALUE             2
CELL_PHONE_USE              13
dtype: int64

There are a lot of columns were SEX = 'X'. Not sure what that means. But it seems that many of those of a lot of NaN's. I'll eliminate these.

In [107]:
people = people[people['SEX'] != 'X']

In [108]:
people = people[people['SEX'].notna()]

Limiting the People only to drivers

In [109]:
people = people[people['PERSON_TYPE'] == 'DRIVER']

In [110]:
people['CRASH_RECORD_ID'].duplicated().any()

True

It's weird are even after I limited the dataframe to DRIVERs, there are still duplicated CRASH_RECORD_IDs. How can a crash have more than one driver? 

Actually, it makes sense. The ID must refer to all the drivers of the different vehicles in the accident.

In [111]:
col = 'AGE'

print('Unique')
print(people[col].unique())
print('\n')
print('Value Counts')
print(people[col].value_counts(normalize=True, dropna=False))

Unique
[  nan   31.   29.   63.   20.   18.   30.   50.   33.   46.   65.   54.
   26.   47.   57.   38.   72.    0.   22.   58.   49.   44.   45.   59.
   84.   61.   37.   28.   36.   39.   51.   66.   77.   40.   34.   43.
   74.   19.   21.   24.   27.   16.   53.   55.   32.   64.   25.   17.
   42.   35.   23.   67.   52.   68.   48.   76.   56.   73.   62.   85.
   60.   70.   41.   79.   78.   71.   81.   86.   69.   75.   80.   83.
   88.   15.   89.   90.   82.   87.   92.   94.   99.   97.   93.   13.
   14.   95.   91.    3.    1.    5.   96.  100.   98.   11.    4.   12.
    9.    2.    6.    8.  101.   10.  110.    7.  109.  107.  104.  108.
  103.  -49.   -1.  -47. -177.]


Value Counts
 NaN      0.176867
 25.0     0.024377
 27.0     0.024341
 26.0     0.024184
 28.0     0.023601
            ...
 108.0    0.000003
-177.0    0.000001
-49.0     0.000001
-47.0     0.000001
-1.0      0.000001
Name: AGE, Length: 113, dtype: float64

I was hoping to use AGE of the driver when determining serious accidents but there are 18% NaN. Also, the data source describes this column as "Age of person involved in crash," not necessarily the driver.

There also seem to be a lot of minors as drivers:

In [112]:
people_temp = people[(people['AGE'] < 10) & (people['AGE'] >0)]

In [113]:
people_temp.iloc[0]

PERSON_ID                                                          O124833
PERSON_TYPE                                                         DRIVER
CRASH_RECORD_ID          5be7e163cc801131c757199f853458fdf305b0df310588...
RD_NO                                                             JA147250
VEHICLE_ID                                                          124909
CRASH_DATE                                          02/09/2017 09:30:00 AM
SEAT_NO                                                                NaN
CITY                                                               CHICAGO
STATE                                                                   IL
ZIPCODE                                                              60643
SEX                                                                      F
AGE                                                                      3
DRIVERS_LICENSE_STATE                                                   IL
DRIVERS_LICENSE_CLASS                                                    D
SAFETY_EQUIPMENT                                          SAFETY BELT USED
AIRBAG_DEPLOYED                                             NOT APPLICABLE
EJECTION                                                              NONE
INJURY_CLASSIFICATION                              NO INDICATION OF INJURY
HOSPITAL                                                               NaN
EMS_AGENCY                                                             NaN
EMS_RUN_NO                                                             NaN
DRIVER_ACTION                                         FOLLOWED TOO CLOSELY
DRIVER_VISION                                                      UNKNOWN
PHYSICAL_CONDITION                                                  NORMAL
PEDPEDAL_ACTION                                                        NaN
PEDPEDAL_VISIBILITY                                                    NaN
PEDPEDAL_LOCATION                                                      NaN
BAC_RESULT                                                TEST NOT OFFERED
BAC_RESULT VALUE                                                       NaN
CELL_PHONE_USE                                                         NaN
Name: 22887, dtype: object

In this record, the driver is 3 years old.

I'm going to limit the dataset for drivers between 16 and 80 and eliminate the NaN's. My goal is to get a general representation of the age and sex of drivers involved in crashes.

In [114]:
people = people[(people['AGE'] < 81) & (people['AGE'] > 15)]

In [115]:
people.shape

(576256, 30)

In [116]:
people['AGE'].value_counts(normalize=True, dropna=False)

25.0    0.030197
27.0    0.030152
26.0    0.029957
28.0    0.029235
24.0    0.028720
          ...
76.0    0.002749
77.0    0.002438
78.0    0.002188
79.0    0.001883
80.0    0.001697
Name: AGE, Length: 65, dtype: float64

See about if drivers were on their phones...

In [117]:
col = 'CELL_PHONE_USE'

print('Unique')
print(people[col].unique())
print('\n')
print('Value Counts')
print(people[col].value_counts(normalize=True, dropna=False))

Unique
[nan 'N' 'Y']


Value Counts
NaN    0.998487
Y      0.000932
N      0.000581
Name: CELL_PHONE_USE, dtype: float64

Not enough info on cell phone use to be useful

Going to drop everything on this dataset except SEX and AGE

In [118]:
people = people[['CRASH_RECORD_ID', 'SEX', 'AGE']]

In [119]:
df = df.merge(people, how = 'inner', left_on='CRASH_RECORD_ID', right_on='CRASH_RECORD_ID')

In [120]:
df.shape

(87215, 15)

## Going back working with the original dataframe

In [121]:
df.shape

(87215, 15)

In [122]:
df.drop_duplicates(subset=['CRASH_RECORD_ID'], inplace=True)

Dropping duplicates will still give me an idea of what is the SEX and AGE of people involved in the accidents.

In [123]:
df.shape

(55766, 15)

In [124]:
df.columns

Index(['CRASH_RECORD_ID', 'POSTED_SPEED_LIMIT', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS',
       'INJURIES_FATAL', 'INJURIES_INCAPACITATING', 'CRASH_HOUR',
       'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'SERIOUS_ACCIDENT', 'SEX', 'AGE'],
      dtype='object')

In [125]:
df[df['SERIOUS_ACCIDENT'] == 1].head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,ALIGNMENT,ROADWAY_SURFACE_COND,NUM_UNITS,INJURIES_FATAL,INJURIES_INCAPACITATING,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,SERIOUS_ACCIDENT,SEX,AGE
11,57ef642ed36c2c45619390b4c24d8110698be3ff91ae79...,30,CLEAR,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,DRY,2,0.0,1.0,23,1,7,1,F,26.0
32,fe99af882cafd694e3d46f7348f9684c811ce0bf9fdb98...,30,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,4,0.0,1.0,17,3,8,1,M,38.0
161,9331133dab3fc089534720f4fbecac607fb65cb770c9e9...,30,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,2,0.0,1.0,15,7,9,1,M,50.0
207,be4b9bd1729ed19627f9030550b02bcd68e0138719ce7a...,30,CLEAR,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,DRY,3,0.0,1.0,20,3,8,1,M,16.0
223,faa6301c9d44a49054079a16531d335cb8b4a2a8c061bb...,30,SNOW,"DARKNESS, LIGHTED ROAD",STRAIGHT AND LEVEL,WET,1,0.0,1.0,0,7,2,1,M,31.0

In [126]:
df['SERIOUS_ACCIDENT'].value_counts(normalize=True)

0    0.981494
1    0.018506
Name: SERIOUS_ACCIDENT, dtype: float64

Now 1.9% of crashes are serious.

Dropping the INJURIES_FATAL and INJURIES_INCAPACITATING because the info is in SERIOUS_ACCIDENT

In [127]:
df.drop(['INJURIES_FATAL', 'INJURIES_INCAPACITATING'], axis=1, inplace=True)

In [128]:
df.columns

Index(['CRASH_RECORD_ID', 'POSTED_SPEED_LIMIT', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS',
       'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'SERIOUS_ACCIDENT',
       'SEX', 'AGE'],
      dtype='object')

In [129]:
df.drop(['CRASH_RECORD_ID'], axis=1, inplace=True)

In [130]:
df.columns

Index(['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'LIGHTING_CONDITION',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS', 'CRASH_HOUR',
       'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'SERIOUS_ACCIDENT', 'SEX', 'AGE'],
      dtype='object')

In [131]:
# re-order columns
df = df[['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS', 
         'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'SEX', 'AGE', 'SERIOUS_ACCIDENT']]

In [132]:
df.columns

Index(['POSTED_SPEED_LIMIT', 'WEATHER_CONDITION', 'LIGHTING_CONDITION',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'NUM_UNITS', 'CRASH_HOUR',
       'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'SEX', 'AGE', 'SERIOUS_ACCIDENT'],
      dtype='object')

In [133]:
df.shape

(55766, 12)

Making column names lowercase.

In [134]:
df.columns = [x.lower() for x in df.columns]

In [135]:
df.columns

Index(['posted_speed_limit', 'weather_condition', 'lighting_condition',
       'alignment', 'roadway_surface_cond', 'num_units', 'crash_hour',
       'crash_day_of_week', 'crash_month', 'sex', 'age', 'serious_accident'],
      dtype='object')

Let's get another overview of the columns I'll keep

In [136]:
names = ['posted_speed_limit', 'weather_condition', 'lighting_condition','alignment', 'roadway_surface_cond', 'num_units', 
         'crash_hour', 'crash_day_of_week', 'crash_month', 'sex', 'age', 'serious_accident']
for name in names:
    print(f'Name: {name}')
    print('Unique')
    print(df[name].unique())
    print('Value Counts')
    print(df[name].value_counts(normalize=True, dropna=False))
    print('----------------------------------------------------')

Name: posted_speed_limit
Unique
[35 25 15 30 40 10 45 20  0  5 55  3 65 50  1  9 39 99 31 70 60 18 34 33
 11]
Value Counts
30    0.758616
35    0.075763
25    0.054818
20    0.029964
15    0.027024
10    0.015906
0     0.012517
40    0.010544
45    0.007011
5     0.005344
55    0.001291
3     0.000269
50    0.000251
39    0.000179
99    0.000126
9     0.000126
1     0.000072
60    0.000036
65    0.000036
70    0.000018
11    0.000018
18    0.000018
34    0.000018
33    0.000018
31    0.000018
Name: posted_speed_limit, dtype: float64
----------------------------------------------------
Name: weather_condition
Unique
['CLEAR' 'RAIN' 'SNOW' 'CLOUDY/OVERCAST' 'UNKNOWN' 'OTHER'
 'FOG/SMOKE/HAZE' 'SLEET/HAIL' 'FREEZING RAIN/DRIZZLE'
 'SEVERE CROSS WIND GATE' 'BLOWING SNOW']
Value Counts
CLEAR                     0.801707
RAIN                      0.097264
SNOW                      0.034537
CLOUDY/OVERCAST           0.032941
UNKNOWN                   0.025571
OTHER                     0.003300
FOG/SMOKE/HAZE            0.001739
SLEET/HAIL                0.001632
FREEZING RAIN/DRIZZLE     0.001022
BLOWING SNOW              0.000179
SEVERE CROSS WIND GATE    0.000108
Name: weather_condition, dtype: float64
----------------------------------------------------
Name: lighting_condition
Unique
['DAYLIGHT' 'DARKNESS, LIGHTED ROAD' 'UNKNOWN' 'DUSK' 'DARKNESS' 'DAWN']
Value Counts
DAYLIGHT                  0.678962
DARKNESS, LIGHTED ROAD    0.209375
DARKNESS                  0.046588
DUSK                      0.031955
DAWN                      0.016892
UNKNOWN                   0.016229
Name: lighting_condition, dtype: float64
----------------------------------------------------
Name: alignment
Unique
['STRAIGHT AND LEVEL' 'CURVE ON GRADE' 'STRAIGHT ON GRADE' 'CURVE, LEVEL'
 'STRAIGHT ON HILLCREST' 'CURVE ON HILLCREST']
Value Counts
STRAIGHT AND LEVEL       0.972492
STRAIGHT ON GRADE        0.014310
CURVE, LEVEL             0.007800
STRAIGHT ON HILLCREST    0.003300
CURVE ON GRADE           0.001560
CURVE ON HILLCREST       0.000538
Name: alignment, dtype: float64
----------------------------------------------------
Name: roadway_surface_cond
Unique
['DRY' 'SNOW OR SLUSH' 'WET' 'ICE' 'UNKNOWN' 'OTHER' 'SAND, MUD, DIRT']
Value Counts
DRY                0.761450
WET                0.146146
UNKNOWN            0.050282
SNOW OR SLUSH      0.031596
ICE                0.007783
OTHER              0.002403
SAND, MUD, DIRT    0.000341
Name: roadway_surface_cond, dtype: float64
----------------------------------------------------
Name: num_units
Unique
[ 2  3  4  1  5  6  7 10 12 11 15  8]
Value Counts
2     0.881379
3     0.054800
1     0.050802
4     0.009271
5     0.002546
6     0.000807
7     0.000215
8     0.000108
15    0.000018
12    0.000018
11    0.000018
10    0.000018
Name: num_units, dtype: float64
----------------------------------------------------
Name: crash_hour
Unique
[15  7 16  9  5 20 17 23  1 18 12 11 13 14 10 21  8 22  0 19  6  4  2  3]
Value Counts
16    0.081196
17    0.079439
15    0.079134
14    0.070186
18    0.066331
13    0.064125
12    0.058333
8     0.056199
11    0.049206
9     0.046336
19    0.045924
10    0.045099
7     0.044776
20    0.035093
21    0.031453
22    0.027831
23    0.023617
6     0.021752
0     0.016964
1     0.013700
2     0.012355
5     0.012301
3     0.009594
4     0.009056
Name: crash_hour, dtype: float64
----------------------------------------------------
Name: crash_day_of_week
Unique
[1 6 3 4 2 5 7]
Value Counts
6    0.167235
3    0.146308
5    0.145752
7    0.144658
4    0.144622
2    0.138310
1    0.113116
Name: crash_day_of_week, dtype: float64
----------------------------------------------------
Name: crash_month
Unique
[ 5  6  9  3  7 11  1 12 10  2  8  4]
Value Counts
10    0.102769
11    0.096869
9     0.092906
8     0.091400
7     0.085966
12    0.083546
6     0.081537
5     0.078022
1     0.074633
3     0.072553
2     0.072446
4     0.067353
Name: crash_month, dtype: float64
----------------------------------------------------
Name: sex
Unique
['M' 'F']
Value Counts
M    0.605889
F    0.394111
Name: sex, dtype: float64
----------------------------------------------------
Name: age
Unique
[44. 71. 60. 38. 52. 68. 23. 26. 19. 42. 43. 32. 24. 77. 33. 55. 35. 46.
 69. 39. 49. 27. 30. 36. 50. 29. 54. 20. 37. 17. 53. 21. 34. 25. 58. 31.
 22. 67. 40. 59. 47. 28. 51. 45. 57. 16. 41. 74. 56. 48. 63. 80. 65. 79.
 61. 66. 76. 64. 72. 75. 73. 62. 18. 70. 78.]
Value Counts
25.0    0.032152
26.0    0.031919
24.0    0.031220
27.0    0.031040
28.0    0.029929
          ...
16.0    0.003138
77.0    0.002815
78.0    0.002582
79.0    0.002349
80.0    0.002008
Name: age, Length: 65, dtype: float64
----------------------------------------------------
Name: serious_accident
Unique
[0 1]
Value Counts
0    0.981494
1    0.018506
Name: serious_accident, dtype: float64
----------------------------------------------------

Will remove the ones in posted speed limit that don't make sense and are likely errors.

In [137]:
df = df.drop(df[(df['posted_speed_limit'] == 3) | 
            (df['posted_speed_limit'] == 39) |
            (df['posted_speed_limit'] == 9) |     
            (df['posted_speed_limit'] == 99) |
            (df['posted_speed_limit'] == 1) |
            (df['posted_speed_limit'] == 11) |
            (df['posted_speed_limit'] == 18) |
            (df['posted_speed_limit'] == 34) |
            (df['posted_speed_limit'] == 33) |
            (df['posted_speed_limit'] == 31)].index)

In [138]:
name = 'posted_speed_limit'
print(f'Name: {name}')
print('Unique')
print(df[name].unique())
print('Value Counts')
print(df[name].value_counts(normalize=True, dropna=False))

Name: posted_speed_limit
Unique
[35 25 15 30 40 10 45 20  0  5 55 65 50 70 60]
Value Counts
30    0.759270
35    0.075828
25    0.054866
20    0.029990
15    0.027047
10    0.015919
0     0.012527
40    0.010553
45    0.007017
5     0.005348
55    0.001292
50    0.000251
60    0.000036
65    0.000036
70    0.000018
Name: posted_speed_limit, dtype: float64

In weather, change "other" to "unknown."

In [139]:
df.loc[(df.weather_condition) == "OTHER", 'weather_condition'] = "UNKNOWN"

In [140]:
name = 'weather_condition'
print(f'Name: {name}')
print('Unique')
print(df[name].unique())
print('Value Counts')
print(df[name].value_counts(normalize=True, dropna=False))

Name: weather_condition
Unique
['CLEAR' 'RAIN' 'SNOW' 'CLOUDY/OVERCAST' 'UNKNOWN' 'FOG/SMOKE/HAZE'
 'SLEET/HAIL' 'FREEZING RAIN/DRIZZLE' 'SEVERE CROSS WIND GATE'
 'BLOWING SNOW']
Value Counts
CLEAR                     0.801680
RAIN                      0.097294
SNOW                      0.034495
CLOUDY/OVERCAST           0.032970
UNKNOWN                   0.028878
FOG/SMOKE/HAZE            0.001741
SLEET/HAIL                0.001633
FREEZING RAIN/DRIZZLE     0.001023
BLOWING SNOW              0.000179
SEVERE CROSS WIND GATE    0.000108
Name: weather_condition, dtype: float64

In 'roadway', change other to unknown.

In [141]:
name = 'roadway_surface_cond'
df.loc[(df[name]) == "OTHER", name] = "UNKNOWN"

print(f'Name: {name}')
print('Unique')
print(df[name].unique())
print('Value Counts')
print(df[name].value_counts(normalize=True, dropna=False))

Name: roadway_surface_cond
Unique
['DRY' 'SNOW OR SLUSH' 'WET' 'ICE' 'UNKNOWN' 'SAND, MUD, DIRT']
Value Counts
DRY                0.761567
WET                0.146129
UNKNOWN            0.052622
SNOW OR SLUSH      0.031570
ICE                0.007771
SAND, MUD, DIRT    0.000341
Name: roadway_surface_cond, dtype: float64

For 'num_units' which is the number of vehicles involved in an accident, I'm going to change anything greater than 6 to 6. Basically '6' will represent '6 or more.'

In [142]:
name = 'num_units'
df.loc[(df[name]) > 6, name] = 6

print(f'Name: {name}')
print('Unique')
print(df[name].unique())
print('Value Counts')
print(df[name].value_counts(normalize=True, dropna=False))

Name: num_units
Unique
[2 3 4 1 5 6]
Value Counts
2    0.881385
3    0.054794
1    0.050791
4    0.009279
5    0.002549
6    0.001202
Name: num_units, dtype: float64

Change sex to categorical. 
'F' = 0
'M' = 1

In [143]:
name = 'sex'
df.loc[(df[name]) == "F", name] = 0
df.loc[(df[name]) == "M", name] = 1

print(f'Name: {name}')
print('Unique')
print(df[name].unique())
print('Value Counts')
print(df[name].value_counts(normalize=True, dropna=False))

Name: sex
Unique
[1 0]
Value Counts
1    0.60598
0    0.39402
Name: sex, dtype: float64

Export it so I can one-hot encode in another notebook.

In [144]:
df.head(3)

,posted_speed_limit,weather_condition,lighting_condition,alignment,roadway_surface_cond,num_units,crash_hour,crash_day_of_week,crash_month,sex,age,serious_accident
0,35,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,2,15,1,5,1,44.0,0
1,25,CLEAR,DAYLIGHT,CURVE ON GRADE,DRY,2,7,6,6,1,71.0,0
3,15,CLEAR,DAYLIGHT,STRAIGHT AND LEVEL,DRY,2,16,3,9,1,60.0,0

In [145]:
df.to_csv(r'../data/crashes_cleaned.csv', index=False)